<div class="col-md-2 sidenav-parent">
    <ul class="nav navbar-nav sidebar">
        {% for menu in site['menu'] %}
        <li {% if menu['active'] %} class="active" {% endif %}>
            <a href="{{ menu['link'] }}" {% if menu['external'] %} target="_blank" {% endif %}>
                {% if menu['icon'] %}
                <i class="navbar-icon {{ menu['icon'] }}"></i>
                {% endif %}
                {{ menu['name'] }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>